<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../../public/styles/bootstrap.min.css" rel="stylesheet" />
    <link href="../../public/styles/components.css" rel="stylesheet"/>
</head>
<body>
<article>
    <section>
        <h2>自由拖动</h2>
    </section>
    <section>
        <pre><code></code><button></button></pre>
    </section>
</article>
<script src="../../public/js/jquery.min.js" type="text/javascript"></script>
<script src="../../public/js/bootstrap.min.js" type="text/javascript"></script>
<script>

</script>
</body>
</html>